@import "@vars";

@import "skeleton-css/css/normalize.css";
@import "skeleton-css/css/skeleton.css";

@import "typeface-spoqa-han-sans2";
@import "mdi/css/materialdesignicons.min.css";
@import "sweetalert/dist/sweetalert.css";

html, body {
  font-family: var(--font);
}
